@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cafeListPanelContainer {
    width: 18rem;
  }


}

.list-table {
	text-decoration: none;
}


.list-table tbody {
	background-color: white;
  	width:100%;
}

.list-table {
	border-collapse: collapse;
	/*margin: 1.5rem;*/
	text-align: center;
	color:white;
    font-family: Open Sans;
    width:100%;
}

.list-table td, th, tr {
	display: block;
}

.list-table th {
	color:#82A1DC;
	text-decoration-line: underline;
	font-weight: bold;
}

/*.list-table tr {
	font-weight:700;
	border-bottom: 1px solid black;
}

.list-table td {
	padding: 0.5rem 1rem 0.5rem;
}
*/
.backToLogin {
	margin-top:6rem;
	text-align:center;
}

.cafe-form {
	background: white;
	margin:3rem;
	padding:3rem;
}

.cafe-form form {
	display:grid;
	padding:0.5rem;
}

.cafe-form input {
	margin:0.5rem;
}

.create-button {
	border-radius: 0.3rem !important;
	/*margin-left: auto !important;*/
	/*margin-right: auto !important;*/
	margin: 2rem auto 2rem auto !important;
	width: 8rem !important;
    height: 2rem !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-track
{
    border-radius: 10px;
    webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cafeListPanelContainer {
    border-style: none none dashed none;
    border-color: #333745;
    border-width:1px;
    color:black;
}

.cafeListPanelContainer div:hover {
	background-color: #82A1DC;
	color:#F4FAFF;;
}

.cafeListPanelInnerContainer {
	display:flex;
	justify-content: start;
	margin: 0.2rem;
	padding:0.4rem;
	text-align:left;
}

.cafeListCafeName {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 140.62%;
	/* identical to box height, or 34px */
	/* Light Background */
}

.cafeListCafeLocation {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 140.62%;
}

.cafeListCafeCapacity {
	font-family: Open Sans;
	font-style: normal;
	font-size: 0.8rem;
	align-items:center;
	display:flex;
	flex-direction: column;
	margin-left:auto;
}

.cafeListCafeCapacity div:first-child {
	padding-left: 0.7rem;
}

.capacity-logo {
	width:60%;
	text-align:center;
}

.cafe-icon {
	width:80%;
}


hr { 
	display: block; 
    margin: 1rem 6rem;
   	overflow: hidden; 
	border-width: 0.2rem;
	border-radius:0.5rem;
}



.cafe-list-text {
	text-align: center;
	color:white;
    font-family: Open Sans;
    font-size:1.2rem;
}


.cafe-list-modal {
	height: 37rem !important;
    margin-top: 3rem !important;
    margin-bottom: auto;
}
