body {
  font-family: Open Sans;
}

@media only screen and (min-width: 768px) and (max-width:992px){
    /* tablets and desktop */
  .cafe-list-modal {
    height:50rem !important;
    width:30rem !important;    
  }

  .modal-table{
    width:27rem !important;
    height:35rem !important;

  }

  .cafeListPanelContainer {
    width:25rem !important;
  }

  .popup-inner {
    top:40% !important;
  }

}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .modal {
    width: 20rem !important;
    /* height:80%; */
    margin: auto auto !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal label {
    text-align: left !important;
    margin-left: 1rem;
  }


  .modal-input-label input {
    margin: 1rem 0 !important;
  }

  .modal input
  {
    display:block;
    margin-top: 0.25rem !important;
    height: 2.3rem !important;
  }

  .modal input[type="text"]
  {
    width: 13rem !important;
  }
  .modal input[type="number"]
  {
    width: 13rem !important;
  }

  .meeple-panel {
    margin:0 !important;
    width:4rem !important;
  }

  .modal-table {
    margin: 0.5rem !important;
    height:22rem !important;
  }

  .cafe-list-modal {
    height:80%;
  }

  .modal-title-cafelist {
    font-size: 25px !important;
    margin-bottom:0.5rem !important;
    margin-top:2rem !important;
  }

  .cafeListPanelContainer {
    width: 18rem;
  }
}


.modal {
  margin: 7rem auto; 
  width: 30rem;

  background: #333745;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


.modal label {
  text-align: right;
  padding-right:5rem;
}

.modal input {
  height:1.5rem;
  width:10rem;
  background: #FFFFFF;
  border: 1px solid #F4FAFF;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
  border-radius: 5px;
}

.modal input[type="text"]
{
    font-style: normal;
    font-size: 1rem;
    padding: 0.5rem;
}


.modal-title-container {
  	color:white;
	  /*margin-top: 3rem;*/
    display:flex;
}

.modal-title-container a {
  /*margin: auto;*/
  margin-top: 1.7rem;
}

.modal-title-cafelist {
  margin-right:1rem;
}

.modal-title-home {
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
}

.modal-title {
  /* H1 - Header 1 - 36pt Semibold Open Sans */
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
}


.modal-input-label {
  /* H4 - Header 4 - 24pt Semibold Open Sans */
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 140.62%;
  /* identical to box height, or 34px */
  color: #FFFFFF;
}

.modal-input-label input {
	margin:0.5rem
}

.modal-form {
 	display:grid;
	padding:0.5rem;
}


.button-login {
}

.modal-button {
	font-style: normal;
	font-weight: 800;
	font-size: 1rem;
	text-align: center;
	color: #FFFFFF;
	background: #82A1DC !important;
	border-radius: 0.3rem !important;
  margin:1rem auto;
	width: 8rem !important;
  height: 2rem !important;
  padding:0.3rem;
}

.button-other {
	background: #82A1DC;
	border-radius: 0.3rem;
	width: 8rem;
  height: 2rem;
  margin-right: 3rem;
  margin-left: auto;
  margin-top:2rem;
	text-align: right;
	padding: 0rem 0.5rem 0rem 0.5rem;

}

.modal-table {
	margin:0rem 2rem;
  height:20rem;
  overflow-y:scroll;
  overflow-x: hidden;
}

.modal-button-logo {
    float: left;
    padding-left: 0.5rem;
}

.beans-logo {
	width: 17%;
}

.home-icon {
  max-width: 70%;
  height:auto;
  margin-left:1rem;
}

.popup {  
  position: fixed;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  

.popup-inner {  
  background: #F4FAFF;
  /* Main Content Drop Shadow */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  height: 15rem;
  width: 20rem;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.popup-text {
  text-align:center;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 140.62%;
  text-align: center;
  margin-top:2rem;
  color: #5C5C5C;
}


.popup-cafename {
  background: #FFFFFF;
  border: 1px solid #F4FAFF;
  box-sizing: border-box;
  /* Separator - Bottom */

  box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140.62%;
  color: #5C5C5C;
  text-align:center;

  margin:1.5rem;
}

.popup-button {
  display:flex;
  justify-content: space-evenly
}

.popup-button div {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding:0.5rem;
  background: #FFA8D2;
  border-radius: 6px;
  width: 4rem;
  height: 1rem;
  text-align:center;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 140.62%;
  color:white;
}

.popup-button a {
  text-decoration: none;
  color:white;
}

.popup-button div:first-child {
  background: #FFA8D2;
}

.popup-button div:nth-child(2) {
  background: #82A1DC;
}

.list-table {
  text-decoration: none;
}


.list-table tbody {
  background-color: white;
    width:100%;
}

.list-table {
  border-collapse: collapse;
  /*margin: 1.5rem;*/
  text-align: center;
  color:white;
  width:100%;
}

.list-table td, th, tr {
  display: block;
}

.list-table th {
  color:#82A1DC;
  text-decoration-line: underline;
  font-weight: bold;
}

/*.list-table tr {
  font-weight:700;
  border-bottom: 1px solid black;
}

.list-table td {
  padding: 0.5rem 1rem 0.5rem;
}
*/
.backToLogin {
  margin-top:6rem;
  text-align:center;
}

.cafe-form {
  background: white;
  margin:3rem;
  padding:3rem;
}

.cafe-form form {
  display:grid;
  padding:0.5rem;
}

.cafe-form input {
  margin:0.5rem;
}

.create-button {
  text-align: center;
  padding:0.3rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-track
{
    border-radius: 10px;
    webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cafeListPanelContainer {
    border-style: none none dashed none;
    border-color: #333745;
    border-width:1px;
    color:black;
}

.cafeListPanelInnerContainer:hover {
  background-color: #82A1DC;
  color:#F4FAFF;
  border-radius: 8px;
}

.cafeListPanelInnerContainer {
  display:flex;
  justify-content: flex-start;
  margin: 0.2rem;
  padding:0.4rem;
  text-align:left;
}

.cafeListCafeName {
  font-style: normal;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 140.62%;
  /* identical to box height, or 34px */
  /* Light Background */
}

.cafeListCafeLocation {
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 140.62%;
}

.cafeListCafeCapacity {
  font-style: normal;
  font-size: 0.8rem;
  align-items:center;
  display:flex;
  flex-direction: column;
  /*margin-right:1rem;*/
  margin-left:auto;

}

.cafeListCafeCapacity div:first-child {
  padding-left: 0.7rem;
  /*margin-right:1rem;*/
  margin-top: 0.5rem;
}

.cafeListCafeCapacityNumber {
  /*margin-right: 0.5rem;*/
}

.capacity-logo {
  width:90%;
  text-align:center;
}

.capacity-logo:hover{
  color:white;
}

.cafeListCafeWords {
  margin-top: 0.5rem;
}

.cafeListCafeIcon{
    border-radius: 80%;
    border: 1px #F4FAFF solid;
    padding: 0.7rem;
    width: 2.5rem;
    height:2.5rem;
    background-color:#F4FAFF;
    margin-right:1rem;   

}

.cafe-icon {
  /*padding:0.5rem;*/
  background: #F4FAFF;
    /*border-radius: 40%;*/
  width:2.5rem;
}

.cafeListCafeCapacity {
  border-radius: none;
}


hr { 
  display: block; 
  margin: 1rem 6rem;
  overflow: hidden; 
  border-width: 0.2rem;
  border-radius:0.5rem;
}


.innerAvatarModal {
  background-color: white;
  background: #F4FAFF;
  mix-blend-mode: normal;
  /* Separator - Bottom */

  box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
  border-radius: 9px;
  margin: 0 1.5rem 2rem 1.5rem;

  height:20rem;

  padding:1rem;
  display: inline-block;
}

.meeple-panel {
  display:inline-grid;
  padding:0.5rem;
  text-align: center;
  margin: 0 1rem 1rem 1rem;
  width: 5.3rem;
  height: 8rem;
}

.meeple-panel:hover {
  background: #82A1DC;
  border-radius: 12px;
}

.meeple-panel img{
  /* position:absolute; */
  max-height:6rem;
  width:auto;
  display:block;
  /* height: auto; */
  margin: auto;
}

.cafe-list-text {
  text-align: center;
  color:white;
  font-size:1.2rem;
}


.cafe-list-modal {
  height: 36rem;
  margin-top: 3rem;
  margin-bottom: auto;
}

.cafepage {
  /*background-image: url("../../img/cafe_background_items.svg");*/

  background-image: none !important;
  overflow-y:hidden;
}

.Cafe {
  display:inline-flex;
}

.cafe-background-svg {
  display: inline-block;
  margin:auto;
}

.switchContainer {
    overflow-y:hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.switchContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.switchContainer {
  -ms-overflow-style: none;
}

.cafe-view {
  margin: 0rem 5rem;
}

.cafe-view h1 {
  color: white;
  margin: 0 0 0 0;
}

.cafe-information {
  display: inline-grid;
  background-color: white;
}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 


.lightbulb {
  animation: hideshow 1s ease infinite;
}


.avatarText { 
  font: 2rem sans-serif; 
  fill: whitesmoke;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-anchor: middle;
  stroke-width: 0;
  stroke: white;
}

.avatarTextContainer {
  width:160px;
  height:46px;
  fill:#585550;
  background: linear-gradient(0deg, #585550, #585550);
/* Main Content Drop Shadow */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.laptopText {
  font: 2rem sans-serif;
  fill: black;
  text-anchor: left;
  font-family: "Open Sans";
}