
.list-table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color:white;
    font-family: Open Sans;
}

.list-table tbody {
	display:block;
  	overflow:auto;
  	width:100%;
  	height:15rem;

}

.list-table td, th {
  	padding: 0.5rem;
}

.list-table th {
	color:#82A1DC;
	text-decoration-line: underline;
	font-weight: bold;
}



/*.list-table tr {
	font-weight:700;
	border-bottom: 1px solid black;
}

.list-table td {
	padding: 0.5rem 1rem 0.5rem;
}
*/
.backToLogin {
	margin-top:6rem;
	text-align:center;
}

.cafe-form {
	background: white;
	margin:3rem;
	padding:3rem;
}

.cafe-form form {
	display:grid;
	padding:0.5rem;
}

.cafe-form input {
	margin:0.5rem;
}

.create-button {
	border-radius: 0.3rem !important;
	/*margin-left: auto !important;*/
	/*margin-right: auto !important;*/
	margin: 2rem auto 2rem auto !important;
	width: 8rem !important;
    height: 2rem !important;
}

